<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC25pL0S8P2XC4sTstxxBARhfS_tvaXuLM</string>
	<key>GCM_SENDER_ID</key>
	<string>200690587482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpera.mentorApp</string>
	<key>PROJECT_ID</key>
	<string>LegalzHub</string>
	<key>STORAGE_BUCKET</key>
	<string>helpera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200690587482:ios:b65e1495eaa7cae56d4563</string>
</dict>
</plist>